.container {
  .boardContainer {
    height: 1000px;
    display: flex;
    .ant-menu-root {
      height: 100%;
      color: white !important;
      background-color: #0c57b9;
    }
    .boardContent {
      width: 100%;
      height: 100%;
      .boardHome {
        height: 100%;
        background: rgb(152, 106, 173);
        background: linear-gradient(
          0deg,
          rgba(152, 106, 173, 1) 0%,
          rgba(80, 18, 166, 1) 1%,
          rgba(53, 150, 200, 0.9024859943977591) 87%
        );
      }
    }
  }
}
